.custom_button{
    width: 100%;
    height: 44px;
    background-color: $button;
    color: $buttonForntColor;
    border: 1px solid $button;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}
.custom_button_warpper{
    text-align: center;
    background-color: $loginsBackground;
    border-radius: 4px;
    margin-right: 20px;
    .custom_button_link {
        width: 100%;
        color: $buttonForntColor;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
    }
}