.top-navigation{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 4px 40px rgb(203 203 203 / 88%);
    img{
        margin-right: 20px;
    }
    
        
}