body {
    margin: 0;
    font-family: $font-family;
    background-color: #f7f9fc;
}

.sidebar {
    grid-area: sidebar;
    margin: 0;
    //width: 255px;
    background-color: $backgroundColor;
    //border: 1px solid $border;
    //position: fixed;
    height: 100%;
    overflow: auto;
    .brand-logo {
        text-align: center;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: white;
        padding: 20px 33px 20px 33px;
        //border-bottom: 1px solid $border;
        height: 65px;
        img {
            height: 35px;
        }
    }
    .menu{
        margin: 20px 0;
        //padding: 30px 33px 5px 33px;
    }
}

.sidebar a {
    display: block;
    color: #ffffff;
    padding: 16px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 12px;
}

.sidebar a.active {
    background-color: $button;
    color: white;
    cursor: pointer;
    
}

.sidebar a:hover:not(.active) {
    color: #a5a7a8;
    border-radius: 8px;
}

h2 {
    margin: 0;
}


@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
