$cardBackground: #ffffff;
$loginsBackground: #2f495e;
$border: #cecece;
$button: #04AA6D;
$buttonForntColor: #ffffff;
$backgroundColor: #313a46;
$deleteButtonColor: #ff1b1b;

$font-family: "Nunito", sans-serif;
$errorMessageColor: #ff1b1b;